<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/css :: css}"></head>

<body>

<!-- Header -->
<div th:replace="~{teacher/teacher-dashboard :: teacherHeader}"></div>


<div class="container-fluid">

    <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-3 col-lg-2 p-0 bg-light">
            <div th:replace="~{teacher/teacher-dashboard :: sidebar}">
            </div>
        </aside>


        <!-- Main Content -->
        <main class="col-md-9 col-lg-10 px-4 py-4">
 <a th:href="@{/announce/announcement}" 
       class="btn btn-outline-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Back
    </a>

            <div class="card shadow-sm">

                <div class="card-body">

                    <h2 class="card-title"
                        th:text="${announcement.title}">
                        Announcement Title
                    </h2>

                    <hr>

                    <div class="card-text"
                         th:text="${announcement.content}">
                        Announcement Content
                    </div>

                </div>

            </div>

        </main>

    </div>

</div>


<!-- Footer -->
<div th:replace="~{fragment/footer :: footer}"></div>


<div th:replace="~{fragment/js :: js}"></div>


</body>
</html>