<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/css :: css}"></head>

<body>

<div th:replace="~{teacher/teacher-dashboard :: teacherHeader}"></div>


<div class="container-fluid">

    <div class="row">


        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 p-0">

            <div th:replace="~{teacher/teacher-dashboard :: sidebar}">
            </div>

        </div>




        <!-- Content -->
        <div class="col-md-9 col-lg-10">


            <div class="container mt-4">



<div class="card-header bg-primary text-white py-3">

    <h5 class="mb-0">

        <i class="bi bi-journal-text me-2"></i>

        Create Assignment

    </h5>

</div>






<div class="card-body">


<form th:action="@{/assignment/save}"
      th:object="${assignment}"
      method="post">



<!-- Course -->

<div class="mb-3">

<label class="form-label">
    Course
</label>


<select class="form-select"
        th:field="*{courseID}">


<option value="">
    -- Select Course --
</option>


<option th:each="course : ${courseList}"
        th:value="${course.courseId}"
        th:text="${course.name}">
</option>


</select>


<div class="text-danger"
     th:errors="*{courseID}">
</div>


</div>







<!-- Assignment Title -->

<div class="mb-3">


<label class="form-label">

    Assignment Title

</label>



<input type="text"
       class="form-control"
       th:field="*{title}"
       placeholder="Enter assignment title">


<small class="text-danger"
       th:errors="*{title}">
</small>


</div>







<!-- Description -->

<div class="mb-3">


<label class="form-label">

    Description

</label>



<textarea class="form-control"
          rows="5"
          th:field="*{description}"
          placeholder="Enter assignment description">
</textarea>



</div>







<!-- Maximum Score -->

<div class="mb-3">


<label class="form-label">

    Maximum Score

</label>



<input type="number"
       step="0.01"
       class="form-control"
       th:field="*{maxScore}">



<small class="text-danger"
       th:errors="*{maxScore}">
</small>


</div>







<!-- Weight Percent -->

<div class="mb-3">


<label class="form-label">

    Weight Percent (%)

</label>



<input type="number"
       step="0.01"
       class="form-control"
       th:field="*{weightPercent}">



<small class="text-danger"
       th:errors="*{weightPercent}">
</small>


</div>







<!-- Due Date -->

<div class="mb-3">


<label class="form-label">

    Due Date & Time

</label>



<input type="datetime-local"
       class="form-control"
       th:field="*{dueDate}">



<small class="text-danger"
       th:errors="*{dueDate}">
</small>


</div>







<!-- Status -->

<div class="mb-3">


<label class="form-label">

    Status

</label>



<select class="form-select"
        th:field="*{status}">


<option th:each="status : ${statusList}"
        th:value="${status}"
        th:text="${status}">
</option>


</select>



<div class="text-danger"
     th:errors="*{status}">
</div>



</div>







<button type="submit"
        class="btn btn-primary">

    Save Assignment

</button>




<a th:href="@{/assignment/list}"
   class="btn btn-secondary">

    Cancel

</a>





<a th:href="@{/assignment/course-select}"
   class="btn btn-outline-primary">

    View Assignment List

</a>





</form>


</div>



            </div>


        </div>


    </div>


</div>




<div th:replace="~{fragment/footer :: footer}"></div>

<div th:replace="~{fragment/js :: js}"></div>


</body>

</html>