<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragment/css :: css}"></head>


<body>


<div th:replace="~{teacher/teacher-dashboard :: teacherHeader}"></div>



<div class="container-fluid">


<div class="row">


<!-- Sidebar -->

<div class="col-md-3 col-lg-2 p-0">

    <div th:replace="~{teacher/teacher-dashboard :: sidebar}"></div>

</div>




<!-- Content -->

<main class="col-md-9 col-lg-10 p-4 bg-light min-vh-100">



<div class="d-flex justify-content-between mb-4">


<div>

<h2 class="fw-bold">
Course Schedule
</h2>

<p class="text-muted">
Generated class schedules
</p>

</div>



<a th:href="@{/schedule/generate}"
   class="btn btn-primary">

<i class="bi bi-plus-circle"></i>
Generate Schedule

</a>


</div>





<div class="card shadow-sm border-0">


<div class="card-body">


<div class="table-responsive">


<table class="table table-hover">


<thead class="table-light">

<tr>

<th>No</th>

<th>Date</th>

<th>Time</th>

<th>Room</th>

<th>Topic</th>

<th>Status</th>
<th>Action</th>

</tr>

</thead>



<tbody>


<tr th:each="schedule,stat:${schedules}">


<td th:text="${stat.count}"></td>


<td th:text="${schedule.scheduleDate}">
</td>



<td>

<span th:text="${schedule.startTime}">
</span>

-

<span th:text="${schedule.endTime}">
</span>

</td>



<td th:text="${schedule.room}">
</td>



<td th:text="${schedule.topic}">
</td>



<td>


<span class="badge bg-success"
      th:text="${schedule.status}">
</span>


</td>
 <td>

            <a class="btn btn-warning btn-sm"
               th:href="@{/schedule/edit/{id}(id=${schedule.scheduleId})}">
                Edit
            </a>

            <a class="btn btn-danger btn-sm"
               th:href="@{/schedule/delete/{id}(id=${schedule.scheduleId})}"
               onclick="return confirm('Delete this schedule?')">
                Delete
            </a>

        </td>



</tr>



<tr th:if="${#lists.isEmpty(schedules)}">


<td colspan="6"
    class="text-center text-muted py-5">

No schedule found.

</td>


</tr>



</tbody>


</table>


</div>


</div>


</div>



</main>


</div>


</div>




<div th:replace="~{fragment/footer :: footer}"></div>

<div th:replace="~{fragment/js :: js}"></div>


</body>

</html>