<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>New Password</title>

<th:block th:replace="~{fragment/css :: css}"></th:block>

</head>


<body>


<div th:replace="~{fragment/header :: header}"></div>


<div class="container mt-5">


<div class="row justify-content-center">


<div class="col-md-6">


<div class="card shadow">


<div class="card-header text-center">

<h3>
Create New Password
</h3>

</div>



<div class="card-body">


<div th:if="${error}"
class="alert alert-danger"
th:text="${error}">
</div>



<form th:action="@{/new-password}"
method="post">


<label>
New Password
</label>


<input type="password"
name="newPassword"
class="form-control"
placeholder="Enter new password"
required>


<br>


<button class="btn btn-success w-100">

Change Password

</button>


</form>



</div>


</div>


</div>


</div>


</div>



</body>

</html>